doctype html
html
  head
    title= tittle
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.css')
    script(type='text/javascript',src='/javascripts/npm.js')
    script(type='text/javascript',src='/javascripts/bootstrap.js')
    script(type='text/javascript',src='/javascripts/jquery-1.11.3.js')
  body
    block content
